/.DS_Store
/._.DS_Store
/._week2e1.sql
/._week4ex2.sql
/._week6ex3.sql
/asgm1
/data.sql
/exercise_wk1.txt
/exercise_wk5.sql
/exercise_wk8.sql
/exercise_wk8_2.sql
/tables.sql
/task1b.sql
/week10a.sql
/week10b.sql
/week10c.sql
/week2e1.sql
/week2e2.sql
/week2e3.sql
/week2spool.lst
/week3ex1.sql
/week3ex2.sql
/week3ex3.sql
/week4ex1.sql
/week4ex2.sql
/week5ex1.sql
/week5ex2.sql
/week6ex1.sql
/week6ex2.sql
/week6ex3.sql
/week8ex1.sql
/week8ex2.sql
/week9ex1.sql